@import url(https://fonts.googleapis.com/css?family=PT+Sans);

body {
  box-sizing: border-box;
  margin: 0;
  background-color: #202020;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  color: white;
}

/* audioplayer styles */

.rhap_container {
  box-shadow: none;
  border-radius: 8px;
  background-color: #303030;
  border-color: #303030;
}

.rhap_time {
  color: white;
}
