$bordersColor: #505050;

.container {
  height: 200px;
  margin-bottom: 30px;
  background-color: #303030;
  border: 1px solid $bordersColor;
  border-radius: 8px;
  text-align: center;

  h2 {
    margin: 30px auto;
  }

  .password {
    width: 100px;
    height: 20px;
    margin-top: 30px;
    margin-left: 20px;
  }

  .button {
    width: 90px;
    height: 40px;
    margin-left: 20px;
    background-color: lighten(seagreen, 35%);
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
    cursor: pointer;
  }
}
