$bordersColor: #505050;

.question {
  padding: 20px;
  display: flex;
  margin-bottom: 30px;
  border: 1px solid $bordersColor;
  border-radius: 8px;
  background-color: #303030;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }

  .image {
    width: 200px;
    height: 155px;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: cover;

    @media (max-width: 600px) {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .heading {
    margin: 0 10px 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid $bordersColor;
    font-size: 1.5rem;
  }
}
