$bordersColor: #505050;

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 20px;
  border: 1px solid $bordersColor;
  border-radius: 8px;
  background-color: #303030;

  @media (max-width: 1200px) {
    width: 100%;
  }

  .info {
    display: flex;

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  .image {
    width: 200px;
    height: 155px;
    display: block;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: cover;

    @media (max-width: 600px) {
      align-items: center;
      margin-bottom: 10px;
      margin-right: 0;
    }
  }

  .namesAndAudio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;

    h2 {
      margin: 0 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid $bordersColor;
      font-size: 2rem;
    }

    h3 {
      margin: 5px 10px;
      padding-bottom: 5px;
      font-style: italic;
      border-bottom: 1px solid $bordersColor;
    }
  }
}
