@import url("https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap");

$green: #2e8b57;

.header {
  margin-bottom: 30px;
}

.headerMain {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin: 15px 0;
    font-family: "MonteCarlo", cursive, sans-serif;
    font-size: 4rem;

    span {
      color: $green;
    }
  }

  .rightBlock {
    display: flex;
    flex-direction: column;

    .score {
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: end;
      font-size: 1.5rem;
    }

    .buttonsField {
      width: 100%;
      text-align: end;
    }

    .button {
      -webkit-appearance: button;
      -moz-appearance: button;
      width: 90px;
      height: 25px;
      margin-bottom: 10px;
      margin-left: 20px;
      padding-top: 3px;
      background-color: lighten(seagreen, 35%);
      border-radius: 5px;
      text-decoration: none;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      color: initial;
      cursor: pointer;
    }
  }
}

.categoryList {
  list-style: none;
  background-color: $green;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border-radius: 8px;

  .item,
  .active {
    padding: 10px 20px;
    flex-grow: 1;
    border-radius: 8px;
    text-align: center;
  }

  .active {
    background-color: lighten($green, 10%);
  }
}
