$bordersColor: #505050;

.signForm {
  margin-bottom: 30px;
  background-color: #303030;
  border: 1px solid $bordersColor;
  border-radius: 8px;
  text-align: center;

  .field {
    width: 250px;
    height: 35px;
    margin: 15px;
    border: 1px solid $bordersColor;
    border-radius: 5px;
  }

  .checkboxItem {
    width: 1rem;
    height: 1rem;
    margin-right: 10px;
  }

  .submitButton {
    width: 120px;
    height: 40px;
    margin: 20px;
    background-color: lighten(seagreen, 35%);
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: black;
    cursor: pointer;

    &[disabled] {
      background-color: lighten(#303030, 30%);
      cursor: not-allowed;
      color: white;
    }
  }

  .warning {
    color: red;
  }
}
